
nav {
    position: relative;
    z-index: 2;
  }
  
  img {
    position: relative;
    z-index: 1;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: opacity 0.8s ease-out;
  }

  .nav-menu.visible {
    opacity: 5;
  }
  
  .menu {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2px;
    animation-name: fadeIn;
    animation-duration: 1.1s;
    margin-left: 0px;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  




@media screen and (max-width: 600px) {
    .small-screen-text {
      font-size: 14px;
    }
  
    .social-icons span {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 600px) {
    .small-screen-text {
      font-size: 8px;
    }
  }  

.footer-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .full-width-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  

  .full-page-image {
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .full-page-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }


  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .social-icons a {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
    
    margin-right: 10px;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    text-align: center;
    line-height: 20px;
  }
  
  
 



  .mb-1 {
    font-family: "Drugs", sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
  }
 
  
  .footer-container .social-icons p {
    margin-left: 10px;
  }

  .social-icons a:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  }
  


  @media screen and (min-width: 600px) {
    .small-screen-text {
      font-size: 8px;
    }
  }



  
  .social-icons a span {
    font-size: 20px;
    color: #827846;
  }
  
  .social-icons a:hover span {
    color: #000;
  }
  